<div id="<%= dom_id bank_billet %>">
<%= bank_billet.customer_person_name %>
<%= bank_billet.curl %>
<%= bank_billet.cbeneficiary_name %>
<%= bank_billet.cbeneficiary_cnpj_cpf %>
<%= bank_billet.cbeneficiary_address %>
<%= bank_billet.cbeneficiary_assignor_code %>
</div>
