<p style="color: green"><%= notice %></p>

<h1>Bank billets</h1>

<div id="bank_billets">
  <table style="width:100%" border="1">
    <tr>
      <td>ID</td>
      <td>CLIENT</td>
      <td>CPF/CNPJ</td>
      <td>ENDEREÇO</td>
      <td>ESTADO</td>
      <td>CIDADE</td>
      <td>VALOR</td>
      <td>URL</td>
    <tr>
    <% @bank_billets.each do |bank_billet| %>
      <tr>
        <%#= render bank_billet %>
        <td><%= bank_billet["id"] %></td>
        <td><%= bank_billet["customer_person_name"] %></td>
        <td><%= bank_billet["customer_cnpj_cpf"] %></td>
        <td><%= bank_billet["customer_address"] %></td>
        <td><%= bank_billet["customer_state"] %></td>
        <td><%= bank_billet["customer_city_name"] %></td>
        <td><%= number_to_currency(bank_billet["amount"]) %></td>
        <td><%= link_to "view", bank_billet["url"], target: "_blank" %></td>
        <!-- <p>
          <%= link_to "Show this bank billet", bank_billet %>
        </p> !-->
      </tr>  
    <% end %>
  </table>  
</div>

<%= link_to "New bank billet", new_bank_billet_path %>
